{% extends "base_site.html" %}

{% block content %}
<strong>Name: </strong>{{ user.get_full_name }}<br />
<strong>Course: </strong>{{ user.degree_program }}<br />
<strong>Total Units: </strong>{{ total_units }}<br />
<br />

<table class="table table-striped table-hover">
    <tr>
        <th>SUBJECT CODE</th>
        <th>SUBJECT DESCRIPTION</th>
        <th>UNITS</th>
        <th>TIME</th>
        <th>DAYS</th>
        <th>DATE START</th>
        <th>DATE END</th>
        <th>ROOM</th>
    </tr>
    {% for s in subject_instances %}
    <tr>
        <td>{{ s.subject.code }}</td>
        <td>{{ s.subject.name }}</td>
        <td>{{ s.subject.units }}</td>
        <td>{{ s.prettify_time }}</td>
        <td>{{ s.prettify_days }}</td>
        <td>{{ s.date_start }}</td>
        <td>{{ s.date_end }}</td>
        <td>{{ s.room }}</td>
    </tr>
    {% endfor %}
</table>
<div class="btn-group">
    <button type="button" class="btn btn-default">Previous</button>
    <button type="button" class="btn btn-default">Next</button>
</div>
{% endblock content %}
